@media screen and (max-width: 320px){
    .main{
        background-color: hsl(0, 0%, 100%);
        max-width: 320px;
        height: 1000px;
        margin-bottom: 100px;
        border-radius: 20px;
        box-shadow: 2px 2px 10px 5px rgba(0, 0, 0, 0.259);
        display: flex;
        flex-direction: column;
    }
    body{
        width: 320px;
        height: 1000px;
    }
    .left_side{
        margin-left: 25px;
    }
    .right_side{
        margin: 0px;
    }
    #bill_input{
        width: 250px;
    }  
    .selection{
        margin-top: 30px;
    }
    .row{
        width: 300px;
    }
    #num_of_ppl_input{
        width: 250px;
    }
    .right_side{
        width: 280px;
        height: 300px;
        border-radius: 10px;
        background-color: hsl(183, 100%, 15%);
        margin-top: 40px;
        margin-left: 20px;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .tip_amt{
        font-family: 'Space Mono', monospace;
        margin-left: 30px;
        margin-top: 20px;
        display: flex;
        width: 280px;
        justify-content: space-between;
        align-items: center;
        height: 50px;
    }
    .total_amt{
        margin-left: 30px;
        margin-top: 20px;
        width: 280px;
    }
    .reset{
        margin-top: 40px;
        width: 250px;
        height: 40px;
    }
}